* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: url('../img/bg.jpg') no-repeat;
}

header::before {
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    height: 94px;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}

/* Navigation Menu */

header {
    position: sticky;
}

#navigation ul img {
    width: 60px;
    height: 60px;
    margin: 10px;
    position: absolute;
    left: 0px;
}

#navigation ul .posleft {
    position: absolute;
    left: 71px;
}

#navigation ul span {
    padding: 5px;
    font-size: 2rem;
    color: #1f8c35;
}

#navigation ul li {
    padding: 4px 10px;
    margin: 25px;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
}

#navigation ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

#navigation ul li a {
    text-decoration: none;
    color: white;
}

#navigation ul li .form-inline .btn {
    padding: 10px;
    border: 2px;
    border-radius: 5px;
}

#navigation ul li .form-inline #search {
    padding: 10px;
}

/* Center Body */

.center {
    display: grid;
    grid-template-areas:
        'div div div img';
}

.maincenter {
    grid-area: div;
}

.maincenter {
    position: relative;
    margin: 40px;
    padding: 50px;
    width: 50%;
    top: 70px;
    left: 20px;
}

#mainimg {
    grid-area: img;
    padding: 34px;
    width: 100%;
    position: relative;
    right: 170px;
    top: 105px;
}

.maincenter a button {
    padding: 15px;
    margin: 30px;
    background-color: #82c50e;
    margin-left: 11px;
    border: 2px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.maincenter a button:hover {
    cursor: pointer;
}

/* Notes */

.notes {
    display: grid;
    grid-template-rows: 2fr;
    grid-gap: 5px;
    justify-content: start;
}

.container .notescontainer .col-6 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-gap: 60px;
    margin: 10px;
}

.container .notescontainer .col-6 .p-3 {
    background-color: #f7e94296;
    height: 250px;
    width: 230px;
    text-decoration: underline;
}

.container .notescontainer .col-6 .p-3 h3 {
    padding: 3px;
}

.container .notescontainer .col-6 .p-3 div {
    padding: 3px;
}

/* Contact Us */

.contact_center{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main_contact {
    position: relative;
    top: 22%;
}

.contact_center .main_contact img {
    width: 60%;
    margin-left: 90px;
}

.contact_center .main_contact h2 {
    margin: 10px 5px;
    padding: 10px;
}

.contact_center .contactform form {
    display: grid;
    grid-template-rows: 2fr;
    grid-gap: 5px;
    margin: 20px;
}

/* Utility Classes */

.h-primary {
    font-size: 2.29rem;
    padding: 12px;
}

.h-secondary {
    font-size: 1.8rem;
    padding: 12px;
}

.para {
    font-size: 1.1rem;
    padding: 12px;
}

.text-center {
    text-align: center;
}